.team-section {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: $text-color;
  text-align: center;
  font-family: $text;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  /*  */
  margin-top: 0;
  margin-bottom: 0;
}

.team {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.team .team__human + .team__human {
  margin-left: 30px;
}

.human-picture {
  display: block;
}

.human-info {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  &__name {
    color: $text-color;
    font-family: $text;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;

    margin: 0;
  }

  &__proffetion {
    color: $second-color;
    font-family: $text;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}
